<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/pirates" method="post">
    <label>Pirate Name: <input type="text" name="pirate[name]" value="" id="pirate"></label></br>
    <label>Pirate Weight: <input type="text" name="pirate[weight]" value="" id="pirate"></label></br>
    <label>Pirate Height: <input type="text" name="pirate[height]" value="" id="pirate"></label></br>
    <label>Ship 1 Name: <input type="text" name="pirate[ships][][name]" value="" id="ship_name_1"></label></br>
    <label>Ship 1 Type: <input type="text" name="pirate[ships][][type]" value="" id="ship_type_1"></label></br>
    <label>Ship 1 Booty: <input type="text" name="pirate[ships][][booty]" value="" id="ship_booty_1"></label></br>
    <label>Ship 2 Name: <input type="text" name="pirate[ships][][name]" value="" id="ship_name_2"></label></br>
    <label>Ship 2 Type: <input type="text" name="pirate[ships][][type]" value="" id="ship_type_2"></label></br>
    <label>Ship 2 Booty: <input type="text" name="pirate[ships][][booty]" value="" id="ship_booty_2"></label></br>
    <label>Submit<input type="submit" value="submit" id="Submit"></label>
    </form>
  </body>
</html>
